<h1>{{ vm.title }}</h1>
<display-errors errors="vm.errors"></display-errors>
<p><a class="btn btn-default mt3" href="" ng-click="vm.loadSnippets()">Reload Snippets</a></p>
<section class="row">
  <div class="col-sm-4">
    <label for="itemsPerPage" id="itemsPerPage">Items Per Page: {{ vm.itemsPerPage }}</label>
    <input type="range" ng-model="vm.itemsPerPage" min="3" max="10" style="height: 34px" />
  </div>
  <div class="col-sm-4">
    <label for="Search">Full Search: </label>
    <input type="text" ng-model="search.$" class="form-control" />
  </div>
  <div class="col-sm-4">
    <label for="languageSearch">Filter by Language: </label>
    <input type="text" ng-model="search.language.name" uib-typeahead="lang for lang in vm.languages | filter:$viewValue | limitTo:8" class="form-control" />
  </div>
</section>


<div dir-paginate="snippet in vm.snippets | filter:search | itemsPerPage: vm.itemsPerPage">
  <section class="row">
    <div class="col-sm-12"><h3><a href="" ui-sref="snippetShow({id: snippet.id})">{{ snippet.name }}</a></h3></div>
    <div class="col-sm-3">
      
      <p class="mt3"><span class="b">Description:</span> {{ snippet.description }}</p>
      <p><span class="b">Language:</span> {{ snippet.language.name }}</p>
      <p><span class="b">Tab Trigger:</span> {{ snippet.trigger }}</p>
      <p><span class="b">Author:</span> {{ snippet.author }}</p>
      <p><span class="b"><ng-pluralize count="snippet.user_snippets_count" when="{
        '0': 'No users',
        'one': '1 User', 
        'other': '{} Users'
      }"></ng-pluralize></span></p>
      <p><add-snippet-button id="snippet.id"></add-snippet-button></p>
    </div>
    <div class="col-sm-9">
      <ace-editor body="snippet.body" size="220"></ace-editor>
    </div>
  </div>
</section>
<dir-pagination-controls></dir-pagination-controls>