<h1>Snippets Index</h1>
<div ng-repeat="snippet in vm.snippets">
  <h3><a href="" ui-sref="snippetShow({id: snippet.id})">{{ snippet.name }}</a></h3>
  <p>Description: {{ snippet.description }}</p>
  <p>Language: {{ snippet.language }}</p>
  <p>Tab Trigger: {{ snippet.trigger }}</p>
  <h3>Snippet Body:</h3>
  <ace-editor body="snippet.body"></ace-editor>
  <!--<textarea name="snippetBody" id="snippetBox" cols="70" rows="20">
{{ snippet.body }}
  </textarea>-->
</div>

<!-- Sign in/out form and user signed in details -->
  <div class="panel panel-default">
    <div class="panel-heading">Sign in via email</div>
    <div class="panel-body">

      <label>user signed in?</label>
      <p>{{ user.signedIn ? "true" : "false" }}</p>
      <label>user email</label>
      <p>{{ user.email || "n/a" }}</p>

      <!-- sign in form -->
      <form ng-submit="submitLogin(loginForm)" role="form" ng-init="loginForm = {}" ng-if="!user.signedIn">
        <div class="form-group">
          <label for="email">Email address</label>
          <input type="email" class="form-control" id="email" ng-model="loginForm.email" placeholder="Email">
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" id="password" ng-model="loginForm.password" placeholder="Password">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>

      <!-- sign out button -->
      <button class="btn btn-default" ng-click="signOut()" ng-if="user.signedIn">Sign out</button>

    </div>
  </div>