<h1>Usage Instructions</h1>

<h4>Visual Studio Code</h4>

<p>
  Integrating this app with Dropbox unleashes its true power. After integration, you'll be able to directly edit your snippets within Snippet Machine and have the changes be immediately usable within your editor.
</p> 

<p>
  After <a href="" ng-click="vm.authenticateWithDropbox()">authenticating with Dropbox</a>, you'll need to set up a symlink between your dropbox directory and the directory where Visual Studio Code snippets are stored. First, you'll want to copy any existing snippets into SnippetMachine. At the moment, this means entering them into the web app through the New Snippet Form. Note that once you've synchronized SnippetMachine with Dropbox, your changes will be effective immediately upon clicking the Save to Dropbox button on your User Profile page. So, any custom snippets you were created that were not saved into the web app before syncing will be overwritten by the symlink you create below.
</p>

<pre>
cp ~/Library/Application\ Support/Code/User/snippets ~/Dropbox/Apps/dlmSnippetMachine/vscode/snippets
rm -rf ~/Library/Application\ Support/Code/User/snippets
ln -s ~/Dropbox/Apps/dlmSnippetMachine/vscode/snippets ~/Library/Application\ Support/Code/User/
</pre>

<p>
  After this symlink is complete, any snippets you save to Dropbox from within SnippetMachine will be available within Visual Studio Code.
</p>

<h4>Sublime Text 2</h4>

<p>
  Again, Dropbox integration is crucial to getting the most out of SnippetMachine. After <a href="" ng-click="vm.authenticateWithDropbox()">authenticating with Dropbox</a>, you'll want to create a symlink between your dropbox directory and the directory where Sublime Text 2 Snippets are usually stored. First, you'll want to copy the contents of that Sublime directory into your dropbox, then delete the folder and symlink your dropbox folder to the directory containing the folder you just deleted. Finally, creating the symlink will enable SnippetMachine to add Snippets to Sublime Text through Dropbox integration. The commands to do this are below. 
</p>

<pre>
cp ~/Library/Application\ Support/Sublime\ Text\ 2/Packages/User ~/Dropbox/Apps/dlmSnippetMachine/sublime/User
rm -rf ~/Library/Application\ Support/Sublime\ Text\ 2/Packages/User
ln -s ~/Dropbox/dlmSnippetMachine/sublime/User ~/Library/Application\ Support/Sublime\ Text\ 2/Packages/
</pre>

<p>
  After the symlink is complete, any snippets that you save to Dropbox from within SnippetMachine will be instantly available within Sublime Text 2.
</p>