<h1>{{ $ctrl.title }}</h1>
<display-errors errors="$ctrl.errors"></display-errors>
<div class="row">
  <div class="col-sm-8">
    <form name="snippetForm" ng-submit="$ctrl.submitForm()">
      <div class="form-group">
        <label for="snippetName">Name</label>
        <input 
          type="text" 
          class="form-control" 
          id="snippetName" 
          name="snippetName"
          placeholder="..." 
          ng-model="$ctrl.snippet.name" 
          required="required" />

        <div 
          ng-messages="snippetForm.snippetName.$error"
          ng-show="snippetForm.snippetName.$touched" 
          role="alert">
          <div class="pv2 pl4 f3 b bg-navy red" ng-message="required">
            Name is Required
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="snippetDescription">Description</label>
        <input 
          type="text" 
          class="form-control"  
          id="snippetDescription"
          name="snippetDescription" 
          placeholder="Describe your snippet..." 
          ng-model="$ctrl.snippet.description" />
      </div>
      <div class="form-group">
        <label for="snippetLanguage">Language</label>
        <input 
          type="text" 
          class="form-control" 
          id="snippetLanguage" 
          name="snippetLanguage"
          autocomplete="off" 
          placeholder="What language is this used for" 
          ng-model="$ctrl.snippet.language" 
          uib-typeahead="lang for lang in $ctrl.languages | filter:$viewValue | limitTo:8" 
          required="required" 
          validate-language />

        <div 
          ng-messages="snippetForm.snippetLanguage.$error" 
          ng-show="snippetForm.snippetLanguage.$touched"
          role="alert">
          <div class="pv2 pl4 f3 b bg-navy red" ng-message="required">
            Language is Required!
          </div>
          <div class="pv2 pl4 f3 b bg-navy red" ng-message="language">
            Sorry, that's not a supported language.
          </div>
        </div>
      </div>
        
      <div class="form-group">
        <label for="snippetTrigger">Tab Trigger</label>
        <input 
          type="text" 
          class="form-control" 
          id="snippetTrigger" 
          name="snippetTrigger"
          placeholder="Enter the Tab Trigger Text." 
          ng-model="$ctrl.snippet.trigger" 
          required="required" 
          validate-trigger />

        <div 
          ng-messages="snippetForm.snippetTrigger.$error" 
          ng-show="snippetForm.snippetTrigger.$dirty"
          role="alert">
          <div class="pv2 pl4 f3 b bg-navy red" ng-message="required">
            Trigger is Required!
          </div>
          <div class="pv2 pl4 f3 b bg-navy red" ng-message="trigger">
            Trigger cannot have any spaces!
          </div>
        </div>
      </div>
      <h4>Snippet Body:</h4>
      <ace-editor body="$ctrl.snippet.body" size="450"></ace-editor>
      
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>

  <div class="col-sm-4">
    <h3>VS Code</h3>
    <textarea name="vsCodeSnippet" id="vsCodeSnippet" cols="40" rows="10">
{{ $ctrl.snippet | visualStudioCode }}
    </textarea>
    <h3>Sublime</h3>
    <textarea name="sublimeSnippet" id="sublimeSnippet" cols="40" rows="10">
{{ $ctrl.snippet | sublimeText }}
    </textarea> 

    <h3>Tips</h3>
    To create a variable within a snippet:
    <pre>
${variable}
    </pre>
    If you need to add curly braces inside a variable, make sure to escape the closing braces:
    <pre>
ui-sref="show(${id: {{ instanceId \}\} })"
    </pre>
  </div>
</div>
