<h1>{{ vm.title }}</h1>

<form ng-submit="vm.submitForm()">
  <div class="form-group">
    <label for="snippetName">Name</label>
    <input type="text" class="form-control" id="snippetName" placeholder="..." ng-model="vm.name" />
  </div>
  <div class="form-group">
    <label for="snippetDescription">Description</label>
    <input type="text" class="form-control" id="snippetDescription" placeholder="Describe your snippet..." ng-model="vm.description">
  </div>
  <div class="form-group">
    <label for="snippetLanguage">Language</label>
    <input type="text" class="form-control" id="snippetLanguage" placeholder="What language is this used for" ng-model="vm.language">
  </div>
  <div class="form-group">
    <label for="snippetTrigger">Tab Trigger</label>
    <input type="text" class="form-control" id="snippetTrigger" placeholder="Enter the Tab Trigger Text." ng-model="vm.trigger">
  </div>
  <h4>Snippet Body:</h4>
  <ace-editor body="vm.body" size="450"></ace-editor>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

<!--<textarea name="visualStudioCodeSnippet" id="visualStudioCodeSnippet" cols="100" rows="40">
"{{ vm.name }}": {
  "prefix": "{{ vm.trigger }}",
  "body": [
{{ vm.body | visualStudioCode }}    
  ],
  "description": "{{ vm.description }}"
}
</textarea>-->