<div>
  <h1>{{ vm.snippet.name }}</h1>
  <h4 class="mv0"><ng-pluralize count="vm.snippet.user_snippets_count" when="{
    '0': 'No users',
    'one': '1 user', 
    'other': '{} users'
  }" /></h4>
  <div class="mv2">
    <snippet-edit-button id="vm.id"></snippet-edit-button>
    <snippet-delete-button id="vm.id"></snippet-delete-button>
    <add-snippet-button id="vm.id"></add-snippet-button>
  </div>
  <p>Description: {{ vm.snippet.description }}</p>
  <p>Language: {{ vm.snippet.language.name }}</p>
  <p>Tab Trigger: {{ vm.snippet.trigger }}</p>
  <h3>Snippet Body:</h3>
  <a class="btn btn-default" href="" ui-sref="snippetShow({id: {{ vm.id }} })">Code Editor</a>  
  <a class="btn btn-default" href="" ui-sref="snippetShow.vscode({id: {{ vm.id }} })">Visual Studio Code Snippet</a>
  <a class="btn btn-default" href="" ui-sref="snippetShow.sublime({id: {{ vm.id }} })">Sublime Snippet</a>
  <div ui-view>
    <ace-editor body="vm.snippet.body" size="600"></ace-editor>
  </div>
</div>