<div>
  <h1>{{ vm.snippet.name }}</h1>
  <div class="mv2">
    <snippet-edit-button id="vm.id"></snippet-edit-button>
    <snippet-delete-button id="vm.id"></snippet-delete-button>
  </div>
  <p>Description: {{ vm.snippet.description }}</p>
  <p>Language: {{ vm.snippet.language.name }}</p>
  <p>Tab Trigger: {{ vm.snippet.trigger }}</p>
  <h3>Snippet Body:</h3>
  <a class="btn btn-default" href="" ui-sref="snippetShow({id: {{ vm.id }} })">Code Editor</a>  <a class="btn btn-default" href="" ui-sref="snippetShow.vscode({id: {{ vm.id }} })">Visual Studio Code Snippet</a>
  <div ui-view>
    <ace-editor body="vm.snippet.body" size="600"></ace-editor>
  </div>
</div>